.gamerstextlogin__main {
  width: 411px;
}

.gamerstextlogin__main h2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gamerstextlogin__main p {
  color: #8692a6;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
