.useracc__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 115px;
  column-gap: 20px;
  justify-content: flex-end;
  margin-right: 17px;
  margin-top: 3px;
}

.light .useracc__welcome {
  color: var(--color-black);
  text-align: right;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.dark .useracc__welcome {
  color: var(--color-white);
  text-align: right;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.profile__img {
  width: 100px;
  height: 100px;
}
