.useracc__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 115px;
  column-gap: 20px;
  justify-content: flex-end;
  margin-right: 17px;
  margin-top: 3px;
}

.light .useracc__welcome {
  color: var(--color-black);
  text-align: right;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dark .useracc__welcome {
  color: var(--color-white);
  text-align: right;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__img {
  width: 100px;
  height: 100px;
}

.profile__img:hover {
  border-radius: 38px;
  box-shadow: 0px 0px 6.3px 0px red, 0px 0px 12.6px 0px orange,
    0px 0px 44.1px 0px yellow, 0px 0px 88.2px 0px green,
    0px 0px 151.2px 0px blue, 0px 0px 264.6px 0px purple;
}
