.gamerstextregister__main {
  width: 411px;
  margin: 2px 0;
      
}

.gamerstextregister__main h2 {
  color: #000;
font-family: Inter;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.gamerstextregister__main p {
  color: #8692A6;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 155.556% */
}