.gamersinfo__contain {
  width: 473px;
}

.p__gamersinfo {
  font-style: normal;
  font-family: Inter;
  line-height: 38px; /* 190% */
  color: #fff;
}
.gamersinfo__contain__blue {
    margin-top: 26px;
  }

.p__gamersinfo__1 {
  color: #00daf7;
  font-family: Gayathri;
  font-size: 96px;
  font-weight: 700;
  line-height: normal;
}

.p1__gray {
  color: gray;
  position: relative;
  top: 39px;
  font-size: 60px;
}

.p__gamersinfo__2 {
  font-size: 20px;
  font-weight: 400;
  width: 425px;
}

.p2__gray {
  color: #696f79;
  font-style: italic;
}

.p__gamersinfo__3 {
  font-size: 19px;
  font-weight: 400;
  padding-top: 30px;
}

.p3__gray {
  color: #696f79;
}
